@import 'button.scss';

.navbar{
    background-size: cover;
    background-position: top;
    background-color: $background-color;
    background-image: linear-gradient(to top,white, #c9c7c7);

    
    .f_medium {
        @include dynamicFontSize($font-size-medium-mult);
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 15px;
        border-bottom: 2px solid $theme-color;        
        .logo{
            @include dynamicFontSize($font-size-big-mult);
            color:$theme-color;
            font-family: $title-font;
        }

        span {
            color: $theme-color
        }

        ul{
            li{
                list-style-type: none;
                display: inline-block;
                padding: 10px 20px;

                a{
                    color: $text-color;
                    text-decoration: none;
                    font-weight: bold;
                    font-family: $text-font;
                }

                a:hover{
                    color: $theme-color;
                    transition: .3s;
                }
            }
        }

        button{
            @extend %button-basic;
            background: $theme-color;
            font-family: $text-font;
            transition: .4s;
        }

        button:hover{
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 992px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}