.gallery{
    padding-top: 50px;
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.card{
    border-radius: 10px;
    width:fit-content;
    margin-left: 50px;
    box-shadow: 0 0 $shadow-size lighten($text-color, $shadow-darkness);

    img{
        padding-top: 10px;
        margin-left: 10%;
        margin-right: 10%;
        max-height: 300px;
        max-width: 80%;
    }

    p{
        font-size: $font-size-medium;
        font-style: oblique;
        text-align: center;
    }

    button{
        @extend .button-basic;
        background-color: $theme-color;
    }
}

.card:hover{
    box-shadow: 0 0 ($shadow-size*1.2) lighten($text-color, ($shadow-darkness/2));
    transition: .5s;
}