.button-basic{
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    color:white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

.navbar{

    background-size: cover;
    background-position: top;

    
    .f_medium {
        font-size: $font-size-medium;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;
        background-color: $background-color;        
        .logo{
            color:$base-color;
            font-size: 28px;
        }

        span {
            color: $theme-color
        }

        ul{
            li{
                list-style-type: none;
                display: inline-block;
                padding: 10px 20px;

                a{
                    color: $text-color;
                    text-decoration: none;
                    font-weight: bold;
                }

                a:hover{
                    color: $theme-color;
                    transition: .3s;
                }
            }
        }

        button{
            @extend .button-basic;
            background: $theme-color;
            transition: .4s;
        }

        button:hover{
            transform: scale(1.3);
            cursor: pointer;
        }
    }
}