$base-color: #ec510a;
$theme-color: #11c78a;
$button-color: #114bc7;
$text-color: #000000;
$background-color: #f6f87a;

$font-size-small: 14px;
$font-size-medium: 19px;
$font-size-big: 24px;

$shadow-size: 40px;
$shadow-darkness: 80%;
